<template>
	<div style="padding: 10px;">
		<table>
			<tr class="table_titlerow">
				<td
					v-for="col in table_columns.filter(c => !c.hidden)"
					:key="col"
					class="td_bold"
				>
					{{ col.displayname }}
				</td>
				<td></td>
			</tr>
			<tr v-for="tablerow in table.data" :key="tablerow">
				<td
					v-for="col in table_columns.filter(c => !c.hidden)"
					:key="col"
				>
					{{ tablerow[col.name] }}
				</td>
				<td>
					<input
						type="button"
						@click="delete_row(tablerow['id'])"
						value="Delete"
					/>
				</td>
			</tr>
			<tr>
				<td
					v-for="col in table_columns.filter(c => !c.hidden)"
					:key="col"
				>
					<input
						v-if="col.data_entry"
						type="text"
						v-model="input_values[col.name]"
					/>
				</td>
				<td></td>
			</tr>
		</table>

		<input
			style="margin-top: 4px;"
			type="button"
			@click="submit"
			value="Submit"
		/>
	</div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

interface ITableColumn {
	name: string;
	index: number;
	displayname: string;
	source: string;
	data_entry: boolean;
	hidden: boolean;
}

type ITable = {
	name: string;
	data: {
		[col_name: string]: string;
	}[];
	columns: ITableColumn[];
};

const Table = defineComponent({
	name: 'Table',
	data(): { table: ITable; input_values: { [col_name: string]: string } } {
		return {
			input_values: {},
			table: {
				name: this.table_name,
				data: [],
				columns: [],
			},
		};
	},
	props: {
		table_columns: {
			type: Array as PropType<ITableColumn[]>,
			default: () => [],
		},
		table_name: {
			type: String as PropType<string>,
			default: () => '',
		},
		api_get: {
			type: String as PropType<string>,
			default: () => '',
		},
		api_post: {
			type: String as PropType<string>,
			default: () => '',
		},
		api_delete: {
			type: String as PropType<string>,
			default: () => '',
		},
	},
	mounted() {
		fetch(this.api_get)
			.then(res => res.text())
			.then((json_text: string) => {
				this.table.name = this.table_name;
				this.table.data = JSON.parse(json_text);
				// Converts [ { name: __, ... } ] to { __ : { name: __, ... } } -- i.e. allowing lookup by column name
				this.table.columns = this.table_columns;
			});
	},
	methods: {
		submit() {
			let body_text = JSON.stringify({
				input: this.input_values,
				name: this.table_name,
			});
			fetch(this.api_post, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: body_text,
			})
				.then((response: Response) => response.text())
				.then((response_text: string) => {
					let new_row = JSON.parse(JSON.stringify(this.input_values));
					let response = JSON.parse(response_text);
					new_row.id = response.insertId;
					this.table.data.push(new_row);
					// Reset input values
					for (let key in this.input_values) {
						this.input_values[key] = '';
					}
				});
		},
		delete_row(id: string) {
			let body_text = JSON.stringify({
				id: id,
				name: this.table_name,
			});
			fetch(this.api_delete, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: body_text,
			})
				.then((response: Response) => response.text())
				.then((response_text: string) => {
					let response = JSON.parse(response_text);
					this.table.data = this.table.data.filter(
						table_row => table_row.id != response.id
					);
				});
		},
	},
});

export default Table;
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
table {
	border-collapse: collapse;
}
td {
	border: 1px solid black;
	width: 200px;
	height: 40px;
	text-align: center;
	font: 14px Calibri Light;
}
.td_bold {
	font-weight: bold;
}
input[type='text'] {
	width: 200px;
	height: 40px;
	border: 2px solid black;
	font: 14px Consolas;
}
input[type='button'] {
	background-color: white;
	font: 14px Calibri Light;
}
</style>
