<template>
	<div>
		<Table
			v-bind:table_name="'mytable'"
			v-bind:table_columns="[
				{
					name: 'text1',
					displayname: 'Text-1',
					source: 'sql', // sql or table_data
					data_entry: true,
					hidden: false,
				},
				{
					name: 'id',
					displayname: 'Id',
					source: 'sql', // sql or table_data
					data_entry: false,
					hidden: false,
				},
			]"
			v-bind:api_post="'http://localhost:8778/post'"
			v-bind:api_get="'http://localhost:8778/db/mytable'"
			v-bind:api_delete="'http://localhost:8778/delete'"
		/>
	</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Table from './components/Table.vue';

@Options({
	components: {
		Table,
	},
})
export default class App extends Vue {}
</script>

<style>
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
	margin-top: 60px;
	margin-left: 10px;
}
</style>
